# Supabase配置
NEXT_PUBLIC_SUPABASE_URL=https://wvkrfaznogbruocaxfja.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2a3JmYXpub2dicnVvY2F4ZmphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYyMjA5OTYsImV4cCI6MjA3MTc5Njk5Nn0.l2wZvz69a0TsGisqSQ19028hfL_ySk2-hJNmFrjRBzQ
NEXT_PUBLIC_SUPABASE_SECRET_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind2a3JmYXpub2dicnVvY2F4ZmphIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjIyMDk5NiwiZXhwIjoyMDcxNzk2OTk2fQ.tVzii7jEGEssg-O_5rGAQBtKpFfQ4uaMzI4ga_tNAgc


# Google Gemini API配置
GOOGLE_API_KEY=AIzaSyAnRBudDxdyHdpYPdPFC8Sk751QFqjge4w
